{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center text-dark">Add Product</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-danger text-center" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="card shadow-lg p-4 mx-auto" style="max-width: 500px; border-radius: 15px;">
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
</div>
{% endblock %}
