{% extends "base.html" %}

{% block title %}Product Description{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center text-dark">Product Description</h1>

    <div class="card shadow-lg p-4 mx-auto" style="max-width: 600px; border-radius: 15px;">
        <div class="card-body">
            <h5 class="card-title">Product Details</h5>
            <p class="card-text">{{ item.content }}</p> 
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ url_for('products',category=item.category) }}" class="btn btn-secondary">Back to Products</a>
    </div>
</div>
{% endblock %}
